<h1>Bookmark Details</h1>

<p><strong>Movie:</strong> <%= @bookmark.movie.title %></p>
<p><strong>List:</strong> <%= @bookmark.list.name %></p>
<p><strong>Comment:</strong> <%= @bookmark.comment %></p>
